.main {
    .app-chooser {
        .app-col {
            text-align: center;
        }

        img {
            max-width: 10rem;
            border-radius: 5%;
        }

        a {
            color: black !important;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            p {
                font-size: 2rem;
                text-align: center;
                width: 100%;
            }
        }
    }
}