.main {
    .app-chooser {
        p {
            font-size: 2rem;
            text-align: center;
            width: 100%;

            a {

                color: black !important;
            }
        }
    }
}