.splashBody {
    height: 100%;
    background: $secondary url(/assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.splash {
    @include media-breakpoint-only(xs) {
        width: 100%;
    }

    @include media-breakpoint-up(sm) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include media-breakpoint-only(sm) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include media-breakpoint-up(md) {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    margin: 0 auto;

    .splash-inner {
        padding: 2rem;
        padding-bottom: 12rem;
    }
}

.splash-footer {
    @include media-breakpoint-up(sm) {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    width: 100%;
    padding: 1.5rem;
    font-size: 0.75em;
    text-align: center;
    background: $secondary;
    color: white;

    p {
        text-align: center;
        width: 100%;
    }
}

.splash-logo {
    text-align: center;
    padding-bottom: 2rem;

    img {
        width: 15rem;
        @include shadow(0, 0, 7px, 0, rgba(12, 12, 12, 0.4));
        border-radius: 5%;
    }

    h1 {
        line-height: 2rem;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
        text-align: center;
    }
}