.splashBody {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include media-breakpoint-only(sm) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include media-breakpoint-up(md) {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    margin: 0 auto;

    .splash-inner {
        padding: 2rem;
        padding-bottom: 12rem;
    }
}

.splash-footer {
    @include media-breakpoint-up(sm) {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    width: 100%;
    padding: 2rem;
    font-size: 0.75em;
}

.splash-logo {
    text-align: center;
    padding-bottom: 2rem;

    img {
        width: 15rem;
        @include shadow(0, 0, 5px, 0, rgba(0, 0, 0, 0.075));
        border-radius: 5%;
    }
}